body {
  background: url('https://napoleon101392.github.io/me/assets/background.jpg') 50% 50% fixed;
  background-size: cover;
}

h1, h2, h3 {
  font-family: 'Berkshire Swash' !important;
  font-size: 44px !important;
  color: #fff !important;
}

i {
  color: #fff;
  font-size: 22px !important;
}

i:hover {
  color: #fff;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.card {
  padding: 2em;
}

.heading-text {
  color: #fff;
}
