@font-face {
  font-family: 'Berkshire Swash';
  font-style: normal;
  font-weight: 400;
  src: local('Berkshire'), local('BerkshireSwash'), url(https://napoleon101392.github.io/me/assets/fonts/BerkshireSwash.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Berkshire Swash Regular';
  font-style: normal;
  font-weight: 400;
  src: local('BershireSwash-Regular'), local('BerkshireSwash-Regular'), url(https://napoleon101392.github.io/me/assets/fonts/BershireSwash-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  background: url('https://napoleon101392.github.io/me/assets/img/background.jpg') 50% 50% fixed;
  background-size: cover;
}

h1, h2, h3 {
  font-family: 'Berkshire Swash' !important;
  font-size: 44px !important;
  color: #fff !important;
}

i {
  color: #fff;
  font-size: 22px !important;
}

i:hover {
  color: #fff;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.card {
  padding: 2em;
}

.heading-text {
  color: #fff;
}
