/* cyrillic */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(//fonts.gstatic.com/s/pacifico/v12/NK6r2Jdr617AEZS3-wXtnBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(//fonts.gstatic.com/s/pacifico/v12/m0Shgsxo4xCSzZHO6RHWxBTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(//fonts.gstatic.com/s/pacifico/v12/6RfRbOG3yn4TnWVTc898ERTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(//fonts.gstatic.com/s/pacifico/v12/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  background: url('https://napoleon101392.github.io/me/assets/img/background.jpg') 50% 50% fixed;
  background-size: cover;
}

h1, h2, h3 {
  font-family: 'Pacifico', Helvetica, sans-serif;
  font-size: 44px !important;
  color: #fff !important;
}

.page-heading .font-primary {
  font-family: 'Pacifico', Helvetica, sans-serif;;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.25);
}

.text-shadow {
  text-shadow: 0px 2px 5px rgba(0,0,0,0.25);
}
a {
  text-decoration: none;
}
i {
  color: #f5f5f5;
  font-size: 22px !important;
}

i.fa-github,
i.fa-linkedin {
  transition: all .1s ease-out;
}

i.fa-github:hover {
  color: #fff;
}

i.fa-linkedin:hover, {
  color: #0077B5;
  text-shadow: none;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.card {
  padding: 2em;
}

.heading-text {
  color: #fff;
}

* > .fa.fa-hover-show,
*:hover > .fa.fa-hover-hidden {
  display: none;
}
*:hover > .fa.fa-hover-show {
  display: inline-block;
}

a.text-primary {
  text-decoration: none !important;
}
